[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref="*"
certifi="*"
chardet="*"
Django="*"
django-autoslug-iplweb="*"
django-cities-light="*"
django-cors-headers="*"
django-oauth-toolkit="*"
djangorestframework="*"
oauthlib="*"
progressbar2="*"
python-utils="*"


[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"